# Port number
PORT=3001

# URL of the Mongo DB
MONGODB_URL=

# DB Name
DB_NAME=

ROYAL_MAIL_KEY=
COMPANY_MAIL= 

REMOTE_BASE_URL=
REMOTE_BACKEND_API_URL= 

# GOOGLE KEY
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# JWT
# JWT secret key
JWT_SECRET=
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_MINUTES=
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=

#Sendgrid Mailer
SENDGRID_API_KEY=
SENDGRID_FROM=

#S3 CREDENTIAL
s3AccessKeyId=
s3AccessSecret=
s3Region=
s3Bucket=
REGISTERED_USER_KEY=

# Test PAY 360
# PAY360USERNAME=OEJMFOMTMVHRPBGP2VWSFC2MBI
# PAY360PASSWORD=d12gSpoT3lWrW23FDQl5Dw==
# PAY360INSTALLATIONID=5313328

# Live Pay 360
PAY360USERNAME=
PAY360PASSWORD=
PAY360INSTALLATIONID=

#Google Analytics
CLIENT_EMAIL=
CLIENT_PRIVATE_KEY=

#ship Theory
SHIPTHEORY_EMAIL=
SHIPTHEORY_PASSWORD=

NODE_ENV=development